<app-work-order-common-form [rowData]='paramName' class="form-width"></app-work-order-common-form>

<mat-tab-group [selectedIndex]="tabIndex">
    <mat-tab class="col-12 col-sm-12 col-md-12 col-lg-12 page" label="{{item.label}}"
        *ngFor="let item of Materialitems   let index = index">
        <ng-template matTabContent>

            <div class="example-button-row col-sm-12 col-md-12 col-lg-12 col-xl-12"
                *ngIf="item.label=='Material Details'">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                    <app-material-details></app-material-details>

                </div>
            </div>

            <div class="example-button-row col-sm-12 col-md-12 col-lg-12 col-xl-12"
                *ngIf="item.label=='Aircraft Disposition'">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                  <app-aircraft-disposition></app-aircraft-disposition>

                </div>
            </div>

            <div class="example-button-row col-sm-12 col-md-12 col-lg-12 col-xl-12"
                *ngIf="item.label=='Special Instructions'">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2">
                  <app-special-instructions></app-special-instructions>

                </div>
            </div>

        </ng-template>
    </mat-tab>
</mat-tab-group>