
<div class="spinner" *ngIf="displayLoading">
    <div class="loader"></div>
  </div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
        <form [formGroup]="supplierForm" >
            <div class="form-row" >
                <div class="form-group col-12 col-sm-6 com-md-6 col-lg-6" *ngFor="let field of fieldsArr">
                    <label class="label-font" for="soNum">{{field.label}}</label>
                    <input *ngIf="field.type!=='textarea' else elseBlock" type="{{field.type}}" id="{{field.control}}"  class="form-control"  placeholder="{{field.label}}" formControlName="{{field.control}}">
                    <ng-template #elseBlock>
                        <textarea  id="{{field.control}}" class="mdb-select md-form colorful-select dropdown-primary"  class="form-control"  formControlName="{{field.control}}"></textarea>
                    </ng-template>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <button type="button" id="at-btn-publish" class="cancel_btn btn btn-primary col-lg-3 mr-1" (click)="onSubmit('create')">Save</button>
                <button type="button" id="at-btn-cancel" class="submit_btn  btn btn-primary col-lg-3 ml-1" (click)="cancel()" [disabled]="isDisabled">Cancel</button>
            </div>
        </form>
    </div>
</div>