<mat-card class="mT-20  mat-elevation-z4">

  
<app-data-table></app-data-table>
  <div class="container">
    <div class="row mB-40">
      <span class="col bold p-0"><i class="fa fa-caret-down filter-icon-size " aria-hidden="true"></i>
        Filter By </span>
    </div>

    <!--Filter start-->

    <div class="form-group">
      <form [formGroup]="dashboardFilterForm" novalidate>
        <div class="row mB-40">

          <div class="col-4 mB-20">
            <div> <label class="bold">Order ID</label></div>
            <p-dropdown appendTo="body" [filter]="true" [options]="WorkOrdersList" formControlName="workOrderId">
            </p-dropdown>
          </div>

          <div class="col-4  mB-20">
            <div><label class="bold">Customer Name</label></div>
            <p-dropdown appendTo="body" [filter]="true" [options]="CustomerList" formControlName="custId"></p-dropdown>
          </div>

          <div class="col-4  mB-20">
            <div><label class="bold">Part Name</label></div>
            <p-dropdown appendTo="body" [filter]="true" [options]="PartNameList" formControlName="partName">
            </p-dropdown>
          </div>

          <div class="col-4 mB-20">
            <div><label class="bold">Part Number</label></div>
            <p-dropdown appendTo="body" [filter]="true" [options]="PartList" formControlName="partNum"></p-dropdown>
          </div>

          <div class="col-4  mB-20">
            <div><label class="bold">Status</label></div>
            <p-dropdown appendTo="body" [filter]="true" [options]="StatusList" formControlName="gateStatus">
            </p-dropdown>
          </div>

          <div class="col-4  mB-20">
            <div><label class="bold">Material Type</label></div>
            <p-dropdown appendTo="body" [filter]="true" [options]="MaterialList" formControlName="materialId">
            </p-dropdown>
          </div>

          <div class="col-4  mB-20">
            <div><label class="bold">Distribution Channel</label></div>
            <p-dropdown appendTo="body" [filter]="true" [options]="ClassificationList"
              formControlName="distributionChannelId">
            </p-dropdown>
          </div>

          <div class="col-4  mB-20">
            <div> <label class="bold">From Date</label></div>
            <p-calendar appendTo="body" [showIcon]="true" dateFormat="mm/dd/yy" formControlName="fromDate"
              [(ngModel)]="fromDate" pTooltip="Choose date" tooltipPosition="bottom" tooltipEvent="hover"
              yearRange="2010:2030" [yearNavigator]="true" readonlyInput="true" [monthNavigator]="true"
              [showIcon]="false"></p-calendar>
          </div>

          <div class="col-4 mB-20">
            <div><label class="bold">To Date</label></div>
            <p-calendar appendTo="body" [showIcon]="true" dateFormat="mm/dd/yy" formControlName="toDate"
              [(ngModel)]="toDate" pTooltip="Choose date" tooltipPosition="bottom" tooltipEvent="hover"
              yearRange="2010:2030" [yearNavigator]="true" readonlyInput="true" [monthNavigator]="true"
              [showIcon]="true"></p-calendar>
          </div>

          <div class="col-4  margin-auto">
            <button type="button" class="btn btn-primary btn-sm apply-btn" (click)="submitSearch()">Apply</button>
          </div>
        </div>

      </form>
    </div>

    <!--Filter end -->



    <!--Table start-->
    <div class="row">

      <div *ngIf="loadNoData" class="noDataFound">
        No data found
      </div>

      <div *ngIf="loadTable">
        <p-table #dt [columns]="cols" [value]="tableData" [paginator]="true" [rows]="5">

          <div class="search">
            <ng-template pTemplate="caption">
              <div class="search">
                <div class="float-right position-relative">
                  <!-- <div class="search-icon" id="grid-search-icon">
                    <i class="pi pi-search" style="margin-right: 5px;"></i>
                  </div> -->
                  <input pInputText type="text" id="grid-search" autofocus="autofocus" pInputText size="50"
                    placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
                </div>
                <div class="clearfix"></div>
              </div>
            </ng-template>
          </div> 

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns" class="over-flow">{{rowData[col.field]}}</td>
              <!-- <td><img src="'/assets/side-navigation/dashboard_icon.png'"> </td>
            <td><button type="button" class="btn view-btn">View</button></td> -->

            </tr>
          </ng-template>

        </p-table>
      </div>

    </div>

    <!--Table end -->
  </div>
</mat-card>
