.side-nav{
    background-color: #11172b
}

.drc-sidenav-label{
  color:white;
  font-size: 16pt;
  font-family: Roboto;
  /* font-family:Bahnschrift;
    font-size:14px; */

}

.drc-label{
  color:white;
  font-size: 16pt;
  font-family: Robot;

}


.sidenav-container {
    height: auto;
    display: flex;
    flex-direction: row;
    min-height: calc(100% - 95px);
  }
  .sidenav-container .sidenav {
    width: 200px;
    background-color: #fff;
    display: flex;
    position: relative;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .sidenav-container .sidenav-content{
    display: flex;
    flex:1;
  }
  .sidenav-container .sidenav .home-button {
    width: 100%;
    padding-top: 0px;
    margin-bottom: 30px;
    display: inline-block;
  }
  .sidenav-container .sidenav .home-button .app-logo {
    width: 120px;
    margin: 0 auto;
    display: block;
  }
  .sidenav-container .sidenav .mat-toolbar {
    background: inherit;
  }
  .sidenav-container .sidenav .navigation-list {
    padding-top: 0px;
  }
  .sidenav-container .sidenav .navigation-list .navigation-item.active {
    background: #dcf0fb;
    color: #062639;
  }
  .sidenav-container .sidenav .navigation-list .navigation-item .mat-icon {
    margin-right: 5px;
  }
  .sidenav-container .sidenav .navigation-list .navigation-item .navigation-item-label {
    padding-top: 2px;
  }
  .sidenav-container .sidenav .navigation-list .navigation-divider {
    color: #dcf0fb;
    border-color: #dcf0fb;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar {
    background: #062639;
    color: #fff;
    padding-left: 60px;
  }
  .sidenav-container .navigation-list .sidenav-content-toolbar .menu-button {
    color: #fff;
    background: #062639;
  }
  .sidenav-container .navigation-list .sidenav-content-toolbar .menu-button:focus {
    outline: none;
  }
  .sidenav-content{
    padding-left: 30px;
    position: relative;
    z-index: 1;
    display: flex;
    min-height: calc(100vh - 112px);
    overflow: auto;
    background:#edf1f5;
    /* margin: 10px !important; */
    -moz-box-shadow: -2px 0px 5px -2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.72);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.72);
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link {
    color: #fff;
    padding-right: 10px;
    cursor: pointer;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link:hover {
    color: #fff;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link:focus {
    outline: none;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .gifts a {
    color: #fff;
    display: inline-block;
    padding-top: 7px;
    padding-right: 20px;
    position: relative;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .gifts a .mat-badge-content {
    background: #d3544d;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .gifts:focus {
    outline: none;
  }
  .sidenav-container .sidenav-content .filler {
    flex: 1 1 auto;
  }
  .sidenav-container .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  a:hover{
    text-decoration: none;

  }
  
  
  
  /*left sidenav style override*/
  /* mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 60px !important;
    overflow: hidden;
  }
  mat-sidenav:not(.mat-drawer-opened) .navigation-item-label {
    display: none !important;
  }
  mat-sidenav:not(.mat-drawer-opened) .home-button {
    display: none !important;
  } */