
        <nav class="navbar navbar-light bg-light">
          
                <a class="navbar-text drc-header" href="#">DIGITAL REPAIR CARD</a>
        </nav>



<!-- <div class="row">
    <div class="col"> 
            <i class="fa fa-bars header-icon" aria-hidden="true">
                </i>
            
            
                <span class="header header-icon"> DIGITAL REPAIR CARD</span>

    </div> -->

<!-- <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Custom Toolbar</span>
            </mat-toolbar-row>
            </mat-toolbar> -->

<!-- <mat-card class="mat-elevation-z2">
            <mat-card-content>
                    <i class="fa fa-bars header-icon" aria-hidden="true">
                        </i>
                    
                    
                        <span class="header header-icon"> DIGITAL REPAIR CARD</span>
        


            </mat-card-content>


    </mat-card> -->


<!-- </div> -->