<div class="spinner" *ngIf="displayLoading">
    <div class="loader"></div>
</div>

<div class="container">
    <form [formGroup]="mailForm" class="form-horizontal" action="/action_page.php">
      <div class="form-group form-inline" >
        <label class="control-label col-sm-2" for="templateName">Template Name</label>
        <div class="col-sm-10" >
          <input type="text" class="form-control" id="templateName" placeholder="" name="email" formControlName="templateName">
        </div>
      </div><div class="form-group form-inline" >
        <label class="control-label col-sm-2" for="fromAddress">From</label>
        <div class="col-sm-10" >
          <input type="email" class="form-control" id="fromAddress" placeholder="" name="email" formControlName="fromAddress">
        </div>
      </div>
      <div class="form-group form-inline">
        <label class="control-label col-sm-2" for="toAddress">To</label>
        <div class="col-sm-10">          
          <input type="email" class="form-control" id="toAddress" placeholder="" name="pwd" formControlName="toAddress">
        </div>
      </div>
      <div class="form-group form-inline">
        <label class="control-label col-sm-2" for="subject">Subject</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="subject" placeholder="" name="pwd" formControlName="subject">
        </div>
      </div>
      <div class="form-group form-inline">
        <label class="control-label col-sm-2" for="category">Category</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="category" placeholder="" name="pwd" formControlName="category">
        </div>
      </div>
      <div class="form-group form-inline">
        <label class="control-label col-sm-2" for="emailBody">Message</label>
        <div class="col-sm-10">          
          <textarea class="form-control" rows="5" id="emailBody" formControlName="emailBody"></textarea>
        </div>
      </div>
     

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <button type="button" id="at-btn-publish" class="cancel_btn btn btn-primary col-lg-3 mr-1"   (click)="onSubmit('create')">Save</button>
        <button type="button" id="at-btn-cancel" class="submit_btn btn-primary btn  col-lg-3 ml-1" (click)="cancel()" [disabled]="isDisabled">Cancel</button>
    </div>
    </form>
  </div>
  