.form-height{
  padding-bottom: 10px;
   padding-left:20px;
   padding-right:20px;
}
.search{
  padding-bottom: 10px;
  padding-left:10px;

}
.height{ padding-bottom: 10px;}
#main {
    display: flex;
    margin-top:1em;
     padding-left:5px;
 
 margin-left:1em;
  }
 .form{
    margin-top:1em;
 }
 .material-icons{
   margin-right:5px;
}
   .form-height{
       margin-top:30px;
   }
   .form-row{
    margin-top:1em;
 }
 .button{
    margin-top:50px;
 }
 .search-container {
    float: right;
     
  }
  .inputsearchbar{ 
     border-radius: 12px 0px 0px 12px; 
 border-color:#0071BC;
 height:27px;
 }
 .main { 
  display: block; 
  position: relative; 
  padding-left: 25px; 
  margin-bottom: 15px; 
  cursor: pointer; 
  font-size: 14px; 
  font-family:Bahnschrift;
} 
input[type=checkbox] { 
  visibility: hidden; 
}
.buttons{
  background-color:#0071BC;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  
  }
  .geekmark { 
     position: absolute; 
     top: 0; 
     left: 0; 
     height: 22px; 
     width: 22px; 
     border-color:black;
      background-color: #b7b7b7; 
  } 
   
   
  .main input:checked ~ .geekmark { 
     background-color: #0071BC; 
  } 
   
  
  .geekmark:after { 
     content: ""; 
     position: absolute; 
     display: none; 
  } 
   
  
  .main input:checked ~ .geekmark:after { 
     display: block; 
  } 
   
  
  .main .geekmark:after { 
     left: 8px; 
     bottom: 5px; 
     width: 6px; 
     height: 12px; 
     border: solid white; 
     border-width: 0 4px 4px 0; 
     -webkit-transform: rotate(45deg); 
     -ms-transform: rotate(45deg); 
     transform: rotate(45deg); 
  } 
  .form-group{
     font-family:Bahnschrift;
     font-size:14px;
   }